//FONT SIZES
$small-font: 1.5rem;
$normal-font: 2rem;
$big-font: 3.5rem;
$large-font: 6rem;

//COLORS
$white: #e2e2e2;
$light-grey: #c3c3c3;
$grey: #c3c3c36e;
$dark-grey: #929292;
$secondary-color: #3f51b5;
$secondary-color-dark: #303d85;
$secondary-color-light: #3f51b580;