.chart-container {
    box-shadow: -1px 5px 5px 0px #929292;
    margin-bottom: 2rem;
    padding-left: 7rem;
    border-radius: 0.2rem;
    min-height: 15rem;
    background-color: #ffffff;
    height: 35rem !important;
}
