@import "variables";
.social-media-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
    &__title {
        background-color: $secondary-color;
        width: 100%;
        line-height: 5rem;
        color: $white;
        padding: 0 1rem;
    }
    &__content {
        padding: 1rem;
        font-size: 1.5rem;
    }
}

.search-social-media {
    margin: 2rem 0;
}
