@import 'variables';

.tab-label {
    display: inline-block;
    cursor: pointer;
    padding-right: 1rem;
    border-bottom: .1rem solid $grey;
    margin-bottom: 1.5rem;

    &:hover,
    &.tab-label--active {
        color: $secondary-color
    }
}